@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


@theme {
    --color-Main-color:#FEC854;
}

body{
    font-family: "Cairo", sans-serif ;

}

.active   {
    color: #FEC854;
}


.btn-primary {

@apply  rounded-full text-center font-medium focus:outline-none focus:ring-4 h-10 px-5 text-sm bg-[#FEC854] text-white hover:bg-amber-400 focus:ring-primary-300 cursor-pointer
 
}



.rfm-marquee-container  {
    overflow: hidden;
    padding: 29px 0;
    background-color: #FEC854;
    font-size: 26px;
    color: #fff;
    transition: .5s;
}

.rfm-marquee-container::before{ 
position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #063231;
    transform: rotate(-1deg);
    z-index: -1;
}


.rfm-child {
    margin: 5px;
}



.about-section {
    background-image: url('./assets/Images/bg2.png');
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 70px;
}

